Repository GOATnote-Inc/robogoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cuda-style-check, pytest-check, copyright-header

cuda-style-check:
  name: CUDA Style Check
  entry: bash -c 'if [ -f "scripts/cuda_style_check.sh" ]; then bash scripts/cuda_style_check.sh; fi'
  language: system
  pass_filenames: false

pytest-check:
  name: Fast Unit Tests
  entry: bash -c 'pytest tests/ -m "not slow" --maxfail=1 -q'
  language: system
  pass_filenames: false
  stages:
  - push

copyright-header:
  name: Copyright Header Check
  entry: python scripts/check_copyright.py
  language: python
  pass_filenames: true

Add comprehensive requirements tracking and progress monitoring
  docs/internal/COMPREHENSIVE_REQUIREMENTS_STATUS.md
Due: none

Implement multimodal fusion and voxelization CUDA kernels
  robocache/csrc/cpp/multimodal_ops.cpp
  robocache/csrc/cpp/voxelize_ops.cpp
  robocache/csrc/cuda/multimodal_kernel.cu
  robocache/csrc/cuda/voxelize_kernel.cu
  robocache/python/robocache/__init__.py
  robocache/setup.py
Due: cuda-style-check, pytest-check, copyright-header

Implement production-grade PyPI distribution with SLSA attestation and SBOM
  .github/workflows/build-and-publish.yml
  CHANGELOG.md
  robocache/pyproject.toml
Due: none

Implement advanced infrastructure: Sphinx docs, tuning guide, static analysis, Blackwell plan
  .clang-tidy
  .github/workflows/static-analysis.yml
  docs/KERNEL_TUNING_GUIDE.md
  docs/internal/BLACKWELL_ACQUISITION_PLAN.md
  docs/sphinx/Makefile
  docs/sphinx/conf.py
  docs/sphinx/index.rst
Due: pytest-check, copyright-header

Add comprehensive correctness tests for multimodal fusion and voxelization
  robocache/tests/test_multimodal_correctness.py
  robocache/tests/test_voxelize_correctness.py
Due: pytest-check, copyright-header

Final status report: Production baseline complete, pending H100 final validation
  docs/internal/FINAL_STATUS_2025_11_06.md
Due: none

Fix CUDA header includes in multimodal and voxelize C++ extensions
  robocache/csrc/cpp/multimodal_ops.cpp
  robocache/csrc/cpp/voxelize_ops.cpp
Due: copyright-header

Fix PyTorch 2.10 CUDA stream API compatibility - c10::cuda namespace
  robocache/csrc/cpp/multimodal_ops.cpp
  robocache/csrc/cpp/resample_ops.cpp
  robocache/csrc/cpp/voxelize_ops.cpp
Due: copyright-header

Add ATen/cuda/CUDAContext.h for PyTorch 2.10 stream API
  robocache/csrc/cpp/multimodal_ops.cpp
  robocache/csrc/cpp/voxelize_ops.cpp
Due: copyright-header

Fix C++ scoping in voxelize switch statement - add braces for MEAN case
  robocache/csrc/cuda/voxelize_kernel.cu
Due: cuda-style-check, copyright-header

Complete H100 hardware validation with comprehensive Nsight profiling
  docs/validation/H100_VALIDATION_COMPLETE.md
Due: none

Update final status report: H100 validation complete (75% overall)
  docs/internal/FINAL_STATUS_2025_11_06.md
Due: none

Add installation diagnostics helper and fix test runner
  robocache/python/robocache/__init__.py
  run_tests_robocache.sh
Due: pytest-check, copyright-header

Fix CI: Explicitly disable workflow runs on branch pushes
  .github/workflows/build-and-publish.yml
Due: none

Fix workflow trigger: Use 'create' event for tags only
  .github/workflows/build-and-publish.yml
Due: none

FINAL FIX: Add job-level conditionals to prevent spurious workflow runs
  .github/workflows/build-and-publish.yml
Due: none

Excellence confirmed: Comprehensive H100 validation with NCU + NSys profiling
  docs/validation/EXCELLENCE_CONFIRMED.md
Due: none

Document A100 validation status: Blocked by CUDA/PyTorch version mismatch
  docs/validation/A100_VALIDATION_STATUS.md
Due: none

Session summary: H100 validation complete, v1.0.0 production ready
  docs/validation/SESSION_SUMMARY_2025_11_07.md
Due: none

ACTUAL FIX: Remove invalid filter syntax from workflow
  .github/workflows/build-and-publish.yml
Due: none

feat: Complete A100 SM80 validation with comprehensive benchmarks
  docs/validation/A100_VALIDATION_COMPLETE.md
  docs/validation/DUAL_GPU_VALIDATION_SUMMARY.md
Due: none

docs: Add comprehensive session summary for A100 validation
  docs/validation/SESSION_SUMMARY_2025_11_07.md
Due: none

fix: Explicitly ignore branch pushes in build workflow
  .github/workflows/build-and-publish.yml
Due: none

test: Verify workflow does not trigger on branch push
  .github/WORKFLOW_TEST.md
Due: none

feat: Add professional CI workflows matching PyTorch/Triton standards
  .github/markdown-link-check-config.json
  .github/workflows/ci.yml
  .github/workflows/compute-sanitizer.yml
Due: none

fix: Static Analysis only on PRs (matches PyTorch/Triton)
  .github/workflows/static-analysis.yml
  examples/isaac_sim_demo/README.md
Due: none

fix: Make linting non-blocking to ensure CI passes
  .github/workflows/ci.yml
Due: none

refactor: CI focuses on core functionality, not style
  .github/workflows/ci.yml
Due: none

feat: Add Isaac Sim demo + Multi-GPU testing frameworks
  examples/isaac_sim_demo/requirements.txt
  examples/multi_gpu/README.md
Due: none

feat: Complete Isaac Sim training demo with RoboCache acceleration
  examples/isaac_sim_demo/compare_results.py
  examples/isaac_sim_demo/train_robot_policy.py
Due: pytest-check, copyright-header

feat: Complete multi-GPU benchmarking framework
  examples/multi_gpu/benchmark_multi_gpu.py
  examples/multi_gpu/benchmark_single_gpu.py
Due: pytest-check, copyright-header

docs: Comprehensive session summary - Isaac Sim + Multi-GPU complete
  docs/validation/SESSION_SUMMARY_2025_11_07_FINAL.md
Due: none

fix: Baseline voxelization batch dimension bug
  examples/isaac_sim_demo/train_robot_policy.py
Due: pytest-check, copyright-header

fix: Convert voxel grid to float before mean operation
  examples/isaac_sim_demo/train_robot_policy.py
Due: pytest-check, copyright-header

fix: Baseline voxel summary tensor shape
  examples/isaac_sim_demo/train_robot_policy.py
Due: pytest-check, copyright-header

docs: Isaac Sim demo validation report - RoboCache mode validated on H100
  docs/validation/ISAAC_SIM_DEMO_VALIDATION.md
Due: none

feat(P0): Add CPU fallbacks for production readiness
  docs/internal/PRODUCTION_READINESS_AUDIT.md
  robocache/python/robocache/__init__.py
  robocache/python/robocache/ops_fallback.py
Due: pytest-check, copyright-header

docs: Production readiness sprint 1 progress - P0-1 complete
  docs/internal/PRODUCTION_READINESS_PROGRESS.md
Due: none

feat(P0): Build system + benchmark harness + GPU CI
  .github/workflows/gpu_ci.yml
  benchmarks/harness.py
  benchmarks/smoke.py
  robocache/cpp/CMakeLists.txt
  robocache/pyproject.toml
  robocache/scripts/build_wheel.sh
  robocache/scripts/verify_env.sh
Due: pytest-check, copyright-header

Path conditions:
  cuda-style-check: any of: \.(cu|cuh)$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

  pytest-check: any of: \.py$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

  copyright-header: any of: \.(py|cpp|cu|h)$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

