Repository GOATnote-Inc/robogoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: cuda-style-check, pytest-check, copyright-header

cuda-style-check:
  name: CUDA Style Check
  entry: bash -c 'if [ -f "scripts/cuda_style_check.sh" ]; then bash scripts/cuda_style_check.sh; fi'
  language: system
  pass_filenames: false

pytest-check:
  name: Fast Unit Tests
  entry: bash -c 'pytest tests/ -m "not slow" --maxfail=1 -q'
  language: system
  pass_filenames: false
  stages:
  - push

copyright-header:
  name: Copyright Header Check
  entry: python scripts/check_copyright.py
  language: python
  pass_filenames: true

feat: RT-X RLDS dataset loader for production robotics training
  examples/rtx_training/README.md
  examples/rtx_training/train_with_rtx.py
  requirements.txt
  robocache/python/robocache/datasets/__init__.py
  robocache/python/robocache/datasets/rlds_spec.py
  robocache/python/robocache/datasets/rtx_loader.py
Due: pytest-check, copyright-header

docs: Session complete - 84/100 production readiness achieved
  docs/internal/SESSION_2025_11_08_COMPLETE.md
Due: none

feat: A100 SM80 validation complete - 126M samples/sec
  docs/validation/A100_SM80_VALIDATION.md
Due: none

feat: Optimized voxelization kernel for 85%+ occupancy
  robocache/benchmarks/benchmark_voxel_occupancy.py
  robocache/csrc/cuda/voxelize_kernel_optimized.cu
Due: cuda-style-check, pytest-check, copyright-header

feat: Multi-GPU DDP support in ROS 2 node
  examples/ros2_node/MULTI_GPU_README.md
  examples/ros2_node/benchmark_multi_gpu.py
  examples/ros2_node/launch/preprocessor_multi_gpu.launch.py
  examples/ros2_node/robot_preprocessor_ddp.py
Due: pytest-check, copyright-header

feat: Isaac ROS composition nodes with Nvblox integration
  examples/isaac_ros_integration/README.md
  examples/isaac_ros_integration/launch/robocache_nvblox.launch.py
  examples/isaac_ros_integration/robocache_nvblox_composition.py
Due: pytest-check, copyright-header

feat: Habitat navigation benchmark with RoboCache
  examples/habitat_benchmark/README.md
  examples/habitat_benchmark/habitat_robocache_benchmark.py
  examples/habitat_benchmark/requirements.txt
Due: pytest-check, copyright-header

test: Add correctness and regression test suites
  robocache/tests/perf/test_regression_gates.py
  robocache/tests/test_voxel_optimized_correctness.py
Due: pytest-check, copyright-header

feat: Temporal attention fusion module complete
  robocache/python/robocache/temporal_fusion.py
  robocache/tests/test_temporal_fusion.py
Due: pytest-check, copyright-header

validate: H100 voxelization 21.06 B pts/sec - functional test passed
  docs/validation/H100_VOXELIZATION_VALIDATED.md
Due: none

Add comprehensive H100 NCU/Nsight profiling artifacts
  artifacts/README.md
  artifacts/h100/H100_NCU_NSIGHT_REPORT.md
  artifacts/h100/gpu_info.txt
  artifacts/h100/ncu_reports/metrics.csv
  artifacts/h100/ncu_reports/ncu_full_output.txt
  artifacts/h100/nsys_reports/nsys_output.txt
Due: none

feat(p0): API consistency fixes + reproducible benchmark framework
  artifacts/api_consistency_fixes.md
  artifacts/bug_fixes/timestamp_interpolation_fix.md
  artifacts/kernel_inventory.md
  artifacts/performance_claims_evidence_matrix.md
  benchmarks/h100_current_validation.py
  benchmarks/reproducible/README.md
  benchmarks/reproducible/configs/multimodal_fusion_h100.json
  benchmarks/reproducible/configs/trajectory_resample_h100.json
  benchmarks/reproducible/configs/voxelization_throughput_h100.json
  benchmarks/reproducible/scripts/run_h100_validation.sh
  benchmarks/reproducible/scripts/run_single.py
  robocache/python/robocache/__init__.py
  robocache/python/robocache/ops_fallback.py
Due: pytest-check, copyright-header

Add comprehensive A100 functional validation artifacts
  artifacts/README.md
  artifacts/a100/A100_VALIDATION_REPORT.md
  artifacts/a100/a100_functional_benchmarks.txt
  artifacts/a100/gpu_info.txt
Due: none

Add Proof of Excellence: 100/100 Production Validation
  artifacts/PROOF_OF_EXCELLENCE.md
  artifacts/README.md
Due: none

docs(readme): update performance claims with H100 measured data
  README.md
  artifacts/h100_validation_final_results.md
Due: none

docs(artifacts): add comprehensive limitations analysis and solutions roadmap
  artifacts/overcoming_limitations.md
Due: none

feat(opt): add CUDA graph cache infrastructure for 40% latency reduction
  robocache/python/robocache/cuda_graph_cache.py
Due: pytest-check, copyright-header

docs: create comprehensive Codex review package
  artifacts/CODEX_REVIEW_PACKAGE.md
Due: none

fix(p0): add resample_trajectories_cpu alias for benchmark compatibility
  robocache/python/robocache/ops_fallback.py
Due: pytest-check, copyright-header

fix(p0): add timestamp-aware multimodal tests
  artifacts/codex_response_evidence.md
  robocache/tests/test_timestamp_alignment.py
Due: pytest-check, copyright-header

fix(p0): integrate CUTLASS kernels into build system
  robocache/csrc/cpp/cutlass_ops.cpp
  robocache/setup.py
Due: pytest-check, copyright-header

docs: update evidence log - 3/18 complete
  artifacts/codex_response_evidence.md
Due: none

docs(h100): infrastructure blocker prevents validation
  artifacts/h100_infrastructure_blocker.md
Due: none

docs: final status - code excellence confirmed, infrastructure blocked
  artifacts/CODEX_RESPONSE_FINAL_STATUS.md
Due: none

fix(cutlass): correct BF16/FP16 conversion - use intrinsics
  robocache/kernels/cutlass/trajectory_resample_production.cu
Due: cuda-style-check, copyright-header

fix(cutlass): export C interface for PyBind11 bindings
  robocache/kernels/cutlass/trajectory_resample_production.cu
Due: cuda-style-check, copyright-header

feat(cutlass): H100 validation complete - EXCELLENCE CONFIRMED
  artifacts/cutlass_h100_validation.md
Due: none

fix(readme): correct performance claims with measured data (Codex P0)
  README.md
  artifacts/readme_audit_findings.md
  artifacts/readme_corrections.md
Due: none

feat(ci): add kernel build and benchmark validation workflows (Codex P1)
  .github/workflows/benchmark_validation.yml
  .github/workflows/kernel_build_validation.yml
Due: none

docs(codex): comprehensive audit completion report - 10/10 P0 tasks
  artifacts/codex_audit_completion_report.md
Due: none

docs: standards comparison - RoboCache vs PyTorch/Triton/FA3
  artifacts/EXCELLENCE_STANDARDS_COMPARISON.md
Due: none

Fix: Clarify CPU fallback as semi-vectorized (per-batch loop required by PyTorch searchsorted)
  h100_benchmark_package.tar.gz
  robocache/python/robocache/ops_fallback.py
Due: pytest-check, copyright-header

Remove dead code: trajectory_resample_optimized.cu (undefined variables, not in build)
  robocache/kernels/cutlass/trajectory_resample_optimized.cu
Due: cuda-style-check, copyright-header

Add: H100 measured performance data (all claims verified)
  artifacts/H100_MEASURED_PERFORMANCE.md
Due: none

Add: Expert CUDA engineer audit completion report
  artifacts/EXPERT_AUDIT_COMPLETION.md
Due: none

Fix RoboCache Python package importability
  robocache/__init__.py
  robocache/pytest.ini
  robocache/python/__init__.py
Due: pytest-check, copyright-header

Add: Safety-critical CUDA audit for robotics deployment
  artifacts/SAFETY_CRITICAL_AUDIT.md
Due: none

Add PyTorch backend utilities and fix voxelization tests
  robocache/python/robocache/__init__.py
  robocache/python/robocache/backends/__init__.py
  robocache/python/robocache/backends/backend_selector.py
  robocache/python/robocache/backends/pytorch_backend.py
  robocache/tests/test_memory_strategy.py
  robocache/tests/test_multi_gpu.py
  robocache/tests/test_voxelization.py
Due: pytest-check, copyright-header

Make CI truthful: remove continue-on-error, fix broken tests, delete dead workflows
  .github/workflows/benchmark_validation.yml
  .github/workflows/ci.yml
  .github/workflows/compute-sanitizer.yml
  .github/workflows/gpu_ci_a100.yml
  .github/workflows/gpu_ci_h100.yml
  .github/workflows/isaac_sim_nightly.yml
  .github/workflows/kernel_build_validation.yml
  .github/workflows/security_scan.yml
  .github/workflows/static-analysis.yml
  robocache/.github/workflows/build-wheels.yml
  robocache/.github/workflows/ci.yml
  robocache/.github/workflows/cuda-validation-complete.yml
  robocache/.github/workflows/cuda-validation.yml
  robocache/.github/workflows/performance-gates.yml
  robocache/.github/workflows/security-scan.yml
  robocache/.github/workflows/security.yml
  robocache/python/robocache/__init__.py
  robocache/python/robocache/backends.py
  robocache/tests/test_all_operations.py
  robocache/tests/test_memory_strategy.py
  robocache/tests/test_multimodal_fusion.py
  robocache/tests/test_voxelization.py
Due: pytest-check, copyright-header

Path conditions:
  cuda-style-check: any of: \.(cu|cuh)$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

  pytest-check: any of: \.py$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

  copyright-header: any of: \.(py|cpp|cu|h)$, but not: (?x)^(
  \.eggs/|
  \.git/|
  \.mypy_cache/|
  \.pytest_cache/|
  \.venv/|
  build/|
  dist/|
  __pycache__/|
  .*\.egg-info/|
  .*\.so$|
  .*\.pyc$|
  .*\.pyo$
)

